*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Common  */
.container{
    width: 83%;
    max-width: 1141px;
    margin: auto;
}

.btn{
    padding: 20px 25px;
    font-weight: 600;
     font-size: 20px;
     margin: 32px 0 ;
     background-color: rgba(241, 91, 34, 1);
     border: none;
     border-radius: 5px;
     color: white;
}



/* Header Section  */
header{
    height: 100vh;
    background: url("./img/banner/banner1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section{
    display: flex;
    justify-content:end;
    align-items: center;    
}

.hero-head{
    max-width:525px ;
    text-align: right;
}

.hero-head h1{
    font-size: 65px;
    font-weight: bold;
    line-height: 76px;
    margin-bottom: 24px;
}

.hero-head p {
   
    line-height: 26px;

};


