*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Common  */
.container{
    width: 83%;
    max-width: 1141px;
    margin:130px auto;
    /* background-color: rebeccapurple; */
   
}

.btn{
    padding: 20px 25px;
    font-weight: 600;
     font-size: 20px;
     margin: 32px 0 ;
     background-color: rgba(241, 91, 34, 1);
     border: none;
     border-radius: 5px;
     color: white;
     cursor: pointer;
}
.btn2{
    padding: 20px 25px;
    font-weight: 600;
     font-size: 20px;
     margin: 32px 0 ;
     background-color: white;
     border: none;
     border-radius: 5px;
     color: rgba(241, 91, 34, 1);
        cursor: pointer;
}



/* Header Section  */
header{
    height: 100vh;
    background: url("./img/banner/banner1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header section{
    display: flex;
    justify-content:end;
    align-items: center;    
}

.hero-head{
    max-width:525px ;
    text-align: right;
}

.hero-head h1{
    font-size: 65px;
    font-weight: bold;
    line-height: 76px;
    margin-bottom: 24px;
}

.hero-head p {
   
    line-height: 26px;

};
#hero-box{
    display: flex;
}



.hero-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.hero-con .hero-box2
{
    max-width: 416px;
} 


.hero-box2 h1{
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 24px;
}

.hero-box2 ul{
    list-style-type: none;
    line-height: 26px;
    margin: 24px 0;

}

.hero-box2 ul li::before{
    content: "✓";
    margin-right: 10px;
}


.sec3 h1
{
    font-size: 40px;
text-align: center;
    font-weight: 800;
    margin-bottom: 55px;
}

.sec3 .hero-plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.hero-plan .hero-plan-box p{

   margin: 20px 0;
}


.sec4{
   background: url("./img/gradient3.png"),url("./img/watch.png");
   background-repeat: no-repeat,no-repeat;
    background-position: center right,center left;
 
    padding: 60px;
    border-radius: 8px;
}

.sec4 .sec4-body{
    max-width: 454px;
    color: white;
}
